.topnav{
    display:grid;
    grid-template-columns:50px 50px auto;
    grid-template-rows: auto auto auto;
    background-color:white;
}
.topnav p{
    font-size:13px;
    color:rgba(0,0,0,0.85);
    margin: 10px 10px 10px 10px;
}

.topnav .signin{
    justify-self:end;
    
}

.topnav .signin .signinButton{
    background-color: #4387fd;
    color:white;
    border-color: #4387fd;
    border-width:1px;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right:20px;
    margin-top:10px;
    font-weight: bold;
    
}
.googlefrench{
    text-align:center;
    font-size:12px;
}

.searchdiv .search{
    border-radius: 50px;
    width:540px;
    height: 35px;
    margin-bottom:30px;
    border-color:rgba(0,0,0,0.1);
    border-width:1.5px;
    background: url(images/search-icon.png) no-repeat 7px 7px;
    background-size:20px 20px;
    padding-left:30px;   
}

.searchdiv .search:hover{
    box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.2);
}

.googlelogo{
    margin-top:100px;
    margin-bottom:30px;
}
.buttons .searchButton{
    color:rgba(0,0,0,0.65);
    font-size:13px;
    padding:7px 15px;
    background-color:rgba(0, 0, 0, 0.034);
    border-color:rgba(0, 0, 0, 0.034);
    border-width:1px;
    border-radius: 4px;
    margin-right:10px;
}

.buttons .searchButton:hover{
    color:rgba(0, 0, 0, 0.85);
    border-color:rgba(0,0,0,0.2);
}
.buttons .luckyButton{
    color:rgba(0, 0, 0, 0.65);
    font-size:13px;
    padding: 7px 15px;
    background-color:rgba(0, 0, 0, 0.034);
    border-color:rgba(0, 0, 0, 0.034);
    border-width:1px;
    border-radius: 4px;
}

.footer{
    border-width:2px;
    border-color:rgba(0,0,0,0.05);
    width:100%;
    position:fixed;
    bottom:0px;
    background-color:rgba(0,0,0,0.05);
    display:grid;
    align-items:end;
    grid-template-rows:40px 40px;
    grid-template-columns:50% 50%;
    grid-template-areas: 
    "country ."
    "leftFooter rightFooter";    
}

.country{
    border-width:2px;
    border-color:rgba(0,0,0,0.05);
    grid-area:country;
    justify-self: left;
    
}

.leftFooter{
    grid-area:leftFooter;
    justify-self: left;
    display:grid;
    grid-template-columns: auto auto 1fr;
    grid-column-gap:5px;
}

.rightFooter{
    grid-area:rightFooter;
    justify-self: right;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.countryP{
    margin:5px 5px 10px 5px;
    font-size:13px;
    padding:10px 20px 0px 5px;
    color:rgba(0,0,0,0.7);
}

.business{
    text-align:center;
    font-size:13px; 
    color:rgba(0,0,0,0.7);
    padding-left:5px;
}

.advertising{
    text-align:center;
    font-size:13px;
    padding-left:10px;
    padding-right:5px;
    color:rgba(0,0,0,0.7);
}
.howSW{
    text-align:center;
    font-size:13px;
    padding-left:5px;
    color:rgba(0,0,0,0.7);
}
.priv{
    text-align:center;
    font-size:13px;
    padding-left:5px;
    color:rgba(0,0,0,0.7);
}
.terms{
    text-align:center;
    font-size:13px;
    padding-left:5px;
    color:rgba(0,0,0,0.7);
}
.settings{
    text-align:center;
    font-size:13px;
    padding-left:5px;
    color:rgba(0,0,0,0.7);
    padding-right:15px;
}