.topnav{
    display:grid;
    grid-template-columns:50px 50px auto;
    background-color:white;
}

.topnav .signin{
    justify-self:end;
    background-color: #4387fd;
}

.topnav .signin .signinbutton{
    background-color: #4387fd;
    color:white;

}
.googlefrench{
    text-align:center;
}

.searchdiv .search{
    border-radius: 50px;
    width:500px;
    height: 30px;
    margin-bottom:30px;
}

.searchdiv .search:hover{
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}